{% extends 'base.html.twig' %}

{% block title %}{{ member.email }} - Member{% endblock %}

{% block body %}
<h1>{{ member.email }}</h1>

<div>
    <p><strong>ID:</strong> {{ member.id }}</p>
</div>

<h2>Vault</h2>
<p>
    <a href="{{ path('app_vault_show', {'id': member.vault.id}) }}">View my vault</a>
</p>

<h2>Showcases</h2>
<p>
    <a href="{{ path('app_showcase_new', {'id': member.id}) }}">Create a new showcase</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Description</th>
            <th>Published</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for showcase in member.showcases %}
        <tr>
            <td>{{ showcase.id }}</td>
            <td>{{ showcase.description }}</td>
            <td>{{ showcase.published ? 'Yes' : 'No' }}</td>
            <td>
                <a href="{{ path('app_showcase_show', {'id': showcase.id}) }}">show</a>
                <a href="{{ path('app_showcase_edit', {'id': showcase.id}) }}">edit</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}